<!DOCTYPE html>
<html>
	<body>
		<h1>Activites for {{ username }}</h1>
		<p>Your balance is {{ balance }}</p>
		
		<h2>Going out</h2>
		{% if outactivities %}
		<ul>
			{% for out in outactivities %}
				<li>On {{ out.date }}, {{ out.sitting.username }} babysat for you for {{ out.cost}} credits &nbsp;[<A href="/babysittingapp/editactivity/{{ out.id}}">edit</A>][<a href="/babysittingapp/deleteactivity/{{out.id}}">delete</a>]</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>No activies - get out more</p>
		{% endif %}

		<h2>Sitting</h2>
		{% if sitactivities %}
			<ul>
				{% for sit in sitactivities %}
					<li>On {{ sit.date }}, you babysat for {{ sit.goingout.username }} for {{ sit.cost }} credits &nbsp; [<A href="/babysittingapp/editactivity/{{ sit.id}}">edit</A>][<a href="/babysittingapp/deleteactivity/{{sit.id}}">delete</a>]</li>
				{% endfor %}
			</ul>
		{% else %}
		<p>No babysitting.</p>
		{% endif %}
	<a href="/babysittingapp/">Home</a>
	</body>
</html>